.test109 {
    font-family: 'times new roman', arial, tahoma;
    font-style: italic;
    font-weight: 700px;
    font-size: 60px;
    /* var 3*/  /* top - right -bottom-left */
    border-width: 10px 20px 1px 30px;
    border-style:solid ;
     /* top - right -bottom-left */
    border-color: aqua  red blue black ;
}



/* var 2 
border-top-width: 25px;
border-top-style: dotted;
border-top-color: bisque;
 */



    /* 1 var  
    */
    border-width: 10px;
    /*border-style:solid ;*/
    /*border-style:groove ;*/
    /*border-style:double ; 
    */
    /*border-color: slateblue; 
    */

   
/*} */